 body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      background-color: #f2f4f7;
    }

    .form-container {
      width: 90%; /* reduced size */
      padding: 15px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 0 0 5% 5%;
    }

    h2 {
      text-align: center;
      font-size: 18px;
      margin-bottom: 15px;
    }

    label {
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 4px;
      display: block;
    }

    input,
    select,
    textarea {
      width: 90%;
      padding: 8px;
      margin-bottom: 10px;
      font-size: 13px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    textarea {
      resize: none;
    }

    button {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      background-color: #007bff;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    .errormessage {
      color: red;
      font-size: 12px;
      margin: 0 0 10px 0;
      padding: 0;
      list-style-type: none;
    }

    table {
      width: 100%;
      margin-top: 20px;
      border: 1px solid #ddd;
    }
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      font-size: 13px;
    }
    th {
      background-color: blue;
      color: white;
    }

    .btn-danger {
      background-color: #dc3545;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
    }
    .btn-info {
      background-color: #17a2b8;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
    }
    .btn-container {
      display: flex;
      gap: 10px;
    }
    